.ant-table-pagination-right {
    float: right;
    display: none;
}

.myCourseInfoDetails{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

@media screen and (max-width:393px){
    .enrolledcard{
        width: 23rem;
        height: 560px;
        /* margin: 20px; */
    }
}

@media screen and (min-width:1080px){
    .myCourseInfoDetails{
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
    }
    
}


.enrolledcard{
    background: antiquewhite;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    transition: .3s ease-in-out;
    box-shadow: 2px 3px 10px rgba(0,0,0,4);
}
.enrolledcard:hover{
    transition: .3s ease-in-out;
    box-shadow: 2px 3px 20px rgba(0,0,0,0.7);
}
.enrolledcard img{
    width:100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
@media screen and (min-width:64rem){
    .enrolledcard{
        width: 23rem;
        height: 162px;
        /* margin: 20px; */
    }
}
@media screen and (max-width:64rem) {
    .enrolledcard{
        width: 40vw;
        height: 27vw;
        /* margin: 20px; */
    }
}
@media screen and (max-width:700px){
    .enrolledcard{
        height: 40vw;
        width: 80vw;
        /* margin: 10px; */
    }
}
